.body{
	width: 100%;
}
.form {
	margin: 20px 0px;
	padding: 0;
	list-style: none;
}
.form tr{

}
.sub{
	background-color: red;
	color: grey;
	border:2px solid blue;
	height: 50px;
	width: 90px;
	font-size: 30px;
}
.sub:hover{
	background-color: inherit;
	color:lightblue;
	font-size: 35px;
}
